@media screen and (max-width:1440px) {
    body {
        min-width: 1280px;
    }

    
}

@media screen and (max-width:1280px) {

    body {
        min-width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    body {
        min-width: 800px;
    }
}

@media screen and (max-width:768px) {
    body {
        min-width: 600px;
    }

    #CSS, #Script, #Responsive {
        background-size: contain;
    }

    .css_wrap {
        margin-top: 100px;
    }
}

@media screen and (max-width:600px) {
    body {
        min-width: 480px;
    }
}

@media screen and (max-width:480px) {
    body {
        min-width: 400px;
    }

}

@media screen and (max-width:320px) {
    body {
        min-width: 320px;
    }

   
}