@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 1400px;
	margin: 0 auto !important;
}

img {
	border: 0;
	vertical-align: middle;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	min-width: 1000px;
	z-index: 5;
}

#header {
	width: 1200px;
	height: 70px;
	position: fixed;
	top: 35px;
	z-index: 1000;
}

#menuWrap {
	width: 1200px;
	height: 50px;
	position: relative;
	top: 0;
	margin: 0 auto;
}

#menuWrap .fay {
	position: absolute;
	top: 15px;
	right: 20px;
	display: block;
	padding: 0 4px;
	font-weight: bold;
	background: #fff;
	color: #26376f;
	border-radius: 2px;
}

#menuWrap h1 {
	width: 100px;
	padding-left: 50px;
	margin-top: -15px;
	float: left;
}

#menuWrap .mLogo a {
	padding: 5px 4px;
	opacity: 1;
}

#menuWrap .mLogo a img {
	width: 100%;
}

#menu {
	width: 850px;
	margin-left: 12%;
	float: left;
}

#menu li:first-of-type {
	display: none;
}

#menu li {
	float: left;
	width: calc(100% / 6 - 4px);
}

#menu li:nth-of-type(3) {
	width: 70px;
}

#menu li a {
	display: block;
	padding: 2px 4px;
	line-height: 42px;
	font-size: 1.3em;
	font-weight: 400;
	text-align: center;
	color: #8ec4ea;
	opacity: 1;
}

#menu li a:hover {
	color: #26376f;
	font-weight: 600;
}

#menu li.on a {
	color: #26376f;
	font-weight: 600;
}

#main {
	width: 1200px;
	height: 1000px;
	position: relative;
}

#profile {
	width: 1200px;
	height: 1000px;
	position: relative;
}

.profile_me {
	position: absolute;
	left: 2%;
	bottom: 10%;
	width: 25%;
}

.profile_me img {
	width: 100%;
	height: 690px;
	object-fit: contain;
}

.profile_textBox {
	position: absolute;
	top: 23%;
	left: 33%;
	width: 580px;
	background: #b3e0f0;
	border: 20px solid #add9e8;
	border-radius: 70px 70px 70px 0;
	padding: 20px;
}

.profile_text li {
	float: left;
	margin: 20px 37px;
}

.profile_text li span {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	display: block;
}

.profile_text li p {
	font-size: 16px;
	padding-bottom: 10px;
}

/* 프로필 차트 */

.scene {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#scene-2-content {
	position: absolute;
	width: 800px;
	min-width: 600px;
	height: 140px;
	bottom: 185px;
	right: -1200px;
}

.charts {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.chart {
	float: left;
	position: relative;
	width: 140px;
	margin-right: 30px;
	height: 100%;
	display: block;
}

.circle-mask-outer,
.circle-mask-inner {
	overflow: hidden;
	position: absolute;
	width: 70px;
	height: 140px;
}

.circle-mask-outer.left {
	left: 0;
}

.circle-mask-outer.right {
	right: 0;
}

.circle-mask-outer.left .circle-mask-inner {
	left: 100%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.circle-mask-outer.right .circle-mask-inner {
	right: 100%;
	-o-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.circle-body {
	border-radius: 50%;
	position: absolute;
	width: 140px;
	height: 140px;
}

.circle-mask-outer.left .circle-body {
	right: 0;
}

.circle-mask-outer.right .circle-body {
	left: 0;
}

#water .circle-body {
	background-color: #bfefff;
}

#sunshine .circle-body {
	background-color: #bbdbff;

}

#birds .circle-body {
	background-color: #8ec4ea;
}

#woods .circle-body {
	background-color: #518ed2;
}

.chart-content {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 110px;
	height: 110px;
	background-color: #ffffff;
	border-radius: 50%;
	text-align: center;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.chart-content img {
	width: 35px;
	object-fit: contain;
	padding-top: 15px;
}

.chart-content .text {
	left: 6px;
	line-height: 1;
	position: relative;
	top: 7px;
}

.chart-content .percent-number {
	font-size: 30px;
	font-weight: 800;
	color: #26376f;
}

.chart-content .percent-symbol {
	font-size: 17px;
}

.no-borderradius .circle-mask-outer,
.no-csstransforms .circle-mask-outer {
	display: none;
}

.no-borderradius .chart-content,
.no-csstransforms .chart-content {
	top: 0;
	left: 0;
	width: 240px;
	height: 180px;
	padding-top: 60px;
	background: url(../img/chart-bg.png) no-repeat 0 0;
}

.no-borderradius #sunshine .chart-content,
.no-csstransforms #sunshine .chart-content {
	background-position: -240px 0;
}

.no-borderradius #birds .chart-content,
.no-csstransforms #birds .chart-content {
	background-position: -480px 0;
}

.no-borderradius #woods .chart-content,
.no-csstransforms #woods .chart-content {
	background-position: -720px 0;
}


#CSS {
	width: 1200px;
	height: 1000px;
	position: relative;
}

.css_wrap {
	width: 1200px;
	height: 800px;
	margin-top: 100px;
	background: url(../img/web_mac2.png) no-repeat center center;
	background-size: cover;
}

.css_L {
	width: 50%;
	height: 100%;
	float: left;
}

.css_imgBox {
	position: relative;
	width: 500px;
	height: 350px;
	top: 30%;
	left: 20%;
	z-index: 10;
}

.css_L .css_monitor {
	width: 90%;
	position: absolute;
	top: 0%;
	left: 5%;
	z-index: 2;
}

.monitor_bg {
	width: 1060px;
	height: 660px;
	background: #9ad0ff52;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 70px;
}

.css_L .css_monitor a {
	width: 100%;
}

.css_L .css_monitor img {
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

.css_L .css_img {
	position: absolute;
	top: 3.5%;
    left: 6.8%;
    width: 429px;
    height: 240px;
	overflow: hidden;
}

.css_L .css_img a {
	width: 100%;
	height: 100%;
	display: block;
}

.css_L .css_img img {
	position: absolute;
	top: 0;
	width: 100%;
}

.css_R {
	width: 50%;
	height: 100%;
	float: right;
}

.css_R .css_textBox {
	margin-top: 32%;
	padding-left: 60px;
}

.css_R .css_textBox li {
	margin-bottom: 30px;
}

.css_R .css_textBox span {
	font-size: 50px;
	font-weight: 800;
	color: #26376f;
	display: block;
	margin-bottom: 30px;
	width: 10%;
}

.css_R .css_textBox p:first-of-type {
	font-size: 28px;
	font-weight: 600;
}

.css_R .css_textBox p:last-of-type {
	font-size: 22px;
}

.css_R .css_textBox li a {
	color: #26376f;
	background-position: 0 -0.1em;
    background-image: linear-gradient(to right, #a3e1f9 0, #b9c6f3 100%);
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 13px;
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: background 0.5s;
}

.css_R .css_textBox li a:hover {
	background-size: 100% 100%;
}

.css_R .css_textBox li img {
	width: 30px;
	object-fit: cover;
}

#Script {
	width: 1200px;
	height: 1000px;
	position: relative;
}

#Responsive {
	width: 1200px;
	height: 1000px;
	position: relative;
}

#Portfolio {
	width: 1200px;
	height: 1000px;
	position: relative;
}

#Contact_Me {
	width: 1200px;
	height: 1000px;
	position: relative;
}

/* 통통튀는 텍스트 */
.conBox {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: block;
	position: absolute;
	max-width: 225px;
}

.titleBox {
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
	margin: 0;
	line-height: 47px;
	letter-spacing: 2px;
}

.titleBox span {
	transform: translateX(-50%) rotate(-10deg)skew(-10deg);
	display: block;
	float: left;
	min-width: 10px;
	min-height: 10px;
	left: 50%;
	position: relative;
}

.button {
	float: left;
	position: relative;
	bottom: -65px;
	left: 50%;
	transform: translateX(-50%) rotate(-10deg);
	color: red;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

#profile>*,
#CSS>*,
#Script>*,
#Responsive>*,
#Portfolio>*,
#Contact_Me>* {
	position: absolute;
}


/* 버튼 */
#floatdiv {
	position: absolute;
	left: 0;
	top: 250px;
	margin-left: 10px;
	z-index: 9999;
}

#floatdiv ul li span {
	margin: 0 0 5px 0;
	cursor: pointer;
}

#floatdiv ul li #btn01 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be01.png) no-repeat;
}

#floatdiv ul li #btn02 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be02.png) no-repeat;
}

#floatdiv ul li #btn03 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be03.png) no-repeat;
}

#floatdiv ul li #btn04 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be04.png) no-repeat;
}

#floatdiv ul li #btn05 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be05.png) no-repeat;
}

#floatdiv ul li #btn06 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be06.png) no-repeat;
}

#floatdiv ul li #btn07 {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/button/before/be07.png) no-repeat;
}


#floatdiv ul li:hover #btn01 {
	background: url(../images/button/after/af01.png) no-repeat;
}

#floatdiv ul li:hover #btn02 {
	background: url(../images/button/after/af02.png) no-repeat;
}

#floatdiv ul li:hover #btn03 {
	background: url(../images/button/after/af03.png) no-repeat;
}

#floatdiv ul li:hover #btn04 {
	background: url(../images/button/after/af04.png) no-repeat;
}

#floatdiv ul li:hover #btn05 {
	background: url(../images/button/after/af05.png) no-repeat;
}

#floatdiv ul li:hover #btn06 {
	background: url(../images/button/after/af06.png) no-repeat;
}

#floatdiv ul li:hover #btn07 {
	background: url(../images/button/after/af07.png) no-repeat;
}


#floatdiv ul li.active #btn01 {
	background: url(../images/button/after/af01.png) no-repeat;
}

#floatdiv ul li.active #btn02 {
	background: url(../images/button/after/af02.png) no-repeat;
}

#floatdiv ul li.active #btn03 {
	background: url(../images/button/after/af03.png) no-repeat;
}

#floatdiv ul li.active #btn04 {
	background: url(../images/button/after/af04.png) no-repeat;
}

#floatdiv ul li.active #btn05 {
	background: url(../images/button/after/af05.png) no-repeat;
}

#floatdiv ul li.active #btn06 {
	background: url(../images/button/after/af06.png) no-repeat;
}

#floatdiv ul li.active #btn07 {
	background: url(../images/button/after/af07.png) no-repeat;
}



/* 메인배너 */

#main .main_me {
	position: absolute;
	left: -5%;
	bottom: 5%;
	z-index: 1;
	width: 100%;
}

#main .pulse {
	position: relative;
	top: 880px;
	margin: 0 auto;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 46px;
	font-size: 15px;
	color: #fff;
	background: rgb(38, 55, 111);
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(38, 55, 111, .5);
	-webkit-animation: pulse 1.5s infinite;
	animation: pulse 1.5s infinite;
	cursor: pointer;
	z-index: 9999;
}

#main .pulse:hover {
	-webkit-animation: none;
	animation: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(38, 55, 111, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(38, 55, 111, 0);
	}
}


.contact_me {
	width: 500px;
	left: 35%;
	bottom: 10%;
}

.contact_me img {
	width: 500px;
	object-fit: cover;
}

/* 물결배경 */

/*color, position, internal time*/
#background_wave {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	z-index: 1;
	margin: 0 auto;
}

#ocean {
	z-index: 100;
}

.wave {
	position: absolute;
	bottom: 0;
	background: #dfecff;
	display: inline-block;
	height: 21%;
	width: 10px;
	position: absolute;
	z-index: 5 !important;
	animation-name: dostuff;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

.wave_middle {
	position: absolute;
	bottom: 0;
	background: #b5e4ffb0;
	display: inline-block;
	height: 17%;
	width: 10px;
	position: absolute;
	z-index: 5 !important;
	animation-name: dostuff_mid;
	animation-duration: 2.02s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

.wave_bottom {
	position: absolute;
	bottom: 0;
	background: #afe1ff;
	display: inline-block;
	height: 13%;
	width: 10px;
	position: absolute;
	z-index: 5 !important;
	animation-name: dostuff_bot;
	animation-duration: 2.04s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

.wave_light {
	position: absolute;
	bottom: 0;
	background: #90c3f959;
	display: inline-block;
	height: 10%;
	width: 10px;
	position: absolute;
	z-index: 5 !important;
	animation-name: dostuff_light;
	animation-duration: 2.06s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

/* amplitude animation*/
@keyframes dostuff {
	0% {
		height: 21%;
	}

	50% {
		height: 26%;
	}

	100% {
		height: 21%;
	}
}

@keyframes dostuff_mid {
	0% {
		height: 17%;
	}

	50% {
		height: 22%;
	}

	100% {
		height: 17%;
	}
}

@keyframes dostuff_bot {
	0% {
		height: 13%;
	}

	50% {
		height: 17%;
	}

	100% {
		height: 13%;
	}
}

@keyframes dostuff_light {
	0% {
		height: 10%;
	}

	50% {
		height: 14%;
	}

	100% {
		height: 10%;
	}
}