@charset "utf-8";
#main_banner {
    background: url(../sub_img/sub_bn2.jpg) no-repeat center center;
}

.maintab1 {
    float: right;
    margin-top: -163px;
    margin-right: 90px;
}

input.tab1 {
    display: none;
}

.tabbox {
    display: none;
}

.tabbox label:checked {
    display: block;
}


input.tab1:nth-of-type(1):checked~section.tabbox:nth-of-type(1), 
input.tab1:nth-of-type(2):checked~section.tabbox:nth-of-type(2), 
input.tab1:nth-of-type(3):checked~section.tabbox:nth-of-type(3), 
input.tab1:nth-of-type(4):checked~section.tabbox:nth-of-type(4), 
input.tab1:nth-of-type(5):checked~section.tabbox:nth-of-type(5) {
    display: block;
}

input.tab1:nth-of-type(1):checked~.maintab1 label:nth-of-type(1), 
input.tab1:nth-of-type(2):checked~.maintab1 label:nth-of-type(2), 
input.tab1:nth-of-type(3):checked~.maintab1 label:nth-of-type(3), 
input.tab1:nth-of-type(4):checked~.maintab1 label:nth-of-type(4), 
input.tab1:nth-of-type(5):checked~.maintab1 label:nth-of-type(5) {
    color: #000;
    background: #fff;
}

.tab1-buttons label {
    float: left;
    display: block;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background: #000;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
    padding: 3px 10px;
}

#search {
    width: 40%;
    margin: 0 auto;
    font-size: 0;
    border: 3px solid #555;
}

#search input {
    width: calc(100% - 40px);
    padding: 10px 5px;
    font-size: 17px;
}

#search a {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    text-align: center;
}

#search i {
    position: relative;
    top: 7px;
    font-size: 25px;
    color: #cfcfcf;
}

/* 라디오 버튼 숨기기 */
input.sub1,
input.sub2,
input.sub3,
input.sub4,
input.sub5 {
    display: none;
}

/* 서브탭메뉴 내용 숨기기 */
.tabbox1 .con_box,
.tabbox2 .con_box,
.tabbox3 .con_box,
.tabbox4 .con_box,
.tabbox5 .con_box {
    display: none;
}

/* 체크되엇을떄 내용보이게 하기 */
input.sub1:nth-of-type(1):checked~section.con_box1:nth-of-type(1), 
input.sub1:nth-of-type(2):checked~section.con_box1:nth-of-type(2), 
input.sub1:nth-of-type(3):checked~section.con_box1:nth-of-type(3), 
input.sub1:nth-of-type(4):checked~section.con_box1:nth-of-type(4) {
    display: block;
}

/* 체크되엇을때 버튼꾸미기 */
input.sub1:nth-of-type(1):checked~.subteb1 label:nth-of-type(1), 
input.sub1:nth-of-type(2):checked~.subteb1 label:nth-of-type(2), 
input.sub1:nth-of-type(3):checked~.subteb1 label:nth-of-type(3), 
input.sub1:nth-of-type(4):checked~.subteb1 label:nth-of-type(4) {
    color: #000;
    font-weight: 600;
}

input.sub2:nth-of-type(1):checked~section.con_box2:nth-of-type(1), 
input.sub2:nth-of-type(2):checked~section.con_box2:nth-of-type(2), 
input.sub2:nth-of-type(3):checked~section.con_box2:nth-of-type(3), 
input.sub2:nth-of-type(4):checked~section.con_box2:nth-of-type(4) {
    display: block;
}

input.sub2:nth-of-type(1):checked~.subteb2 label:nth-of-type(1), 
input.sub2:nth-of-type(2):checked~.subteb2 label:nth-of-type(2), 
input.sub2:nth-of-type(3):checked~.subteb2 label:nth-of-type(3), 
input.sub2:nth-of-type(4):checked~.subteb2 label:nth-of-type(4) {
    color: #000;
    font-weight: 600;
}

input.sub3:nth-of-type(1):checked~section.con_box3:nth-of-type(1), 
input.sub3:nth-of-type(2):checked~section.con_box3:nth-of-type(2), 
input.sub3:nth-of-type(3):checked~section.con_box3:nth-of-type(3), 
input.sub3:nth-of-type(4):checked~section.con_box3:nth-of-type(4) {
    display: block;
}

input.sub3:nth-of-type(1):checked~.subteb3 label:nth-of-type(1), 
input.sub3:nth-of-type(2):checked~.subteb3 label:nth-of-type(2), 
input.sub3:nth-of-type(3):checked~.subteb3 label:nth-of-type(3), 
input.sub3:nth-of-type(4):checked~.subteb3 label:nth-of-type(4) {
    color: #000;
    font-weight: 600;
}

input.sub4:nth-of-type(1):checked~section.con_box4:nth-of-type(1), 
input.sub4:nth-of-type(2):checked~section.con_box4:nth-of-type(2), 
input.sub4:nth-of-type(3):checked~section.con_box4:nth-of-type(3), 
input.sub4:nth-of-type(4):checked~section.con_box4:nth-of-type(4) {
    display: block;
}

input.sub4:nth-of-type(1):checked~.subteb4 label:nth-of-type(1), 
input.sub4:nth-of-type(2):checked~.subteb4 label:nth-of-type(2), 
input.sub4:nth-of-type(3):checked~.subteb4 label:nth-of-type(3), 
input.sub4:nth-of-type(4):checked~.subteb4 label:nth-of-type(4) {
    color: #000;
    font-weight: 600;
}

input.sub5:nth-of-type(1):checked~section.con_box5:nth-of-type(1), 
input.sub5:nth-of-type(2):checked~section.con_box5:nth-of-type(2), 
input.sub5:nth-of-type(3):checked~section.con_box5:nth-of-type(3), 
input.sub5:nth-of-type(4):checked~section.con_box5:nth-of-type(4) {
    display: block;
}

input.sub5:nth-of-type(1):checked~.subteb5 label:nth-of-type(1), 
input.sub5:nth-of-type(2):checked~.subteb5 label:nth-of-type(2), 
input.sub5:nth-of-type(3):checked~.subteb5 label:nth-of-type(3), 
input.sub5:nth-of-type(4):checked~.subteb5 label:nth-of-type(4) {
    color: #000;
    font-weight: 600;
}

/* 서브탭 클릭버튼 배경 */
.subteb1 .sub1-buttons, 
.subteb2 .sub2-buttons,
.subteb3 .sub3-buttons,
.subteb4 .sub4-buttons,
.subteb5 .sub5-buttons {
    background: rgb(200, 200, 200);
}

/* 서브탭 클릭버튼 꾸미기 */
.subteb1 .sub1-buttons label,
.subteb2 .sub2-buttons label,
.subteb3 .sub3-buttons label,
.subteb4 .sub4-buttons label,
.subteb5 .sub5-buttons label {
    float: left;
    display: block;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    padding: 7px 0 7px 20px;
    margin-right: 25px;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.tabbox {
    margin-top: 105px;
}

.con_box {
    width: 100%;
    margin-top: 110px;
}

.con_box li {
    float: left;
    width: calc(100% / 8);
    margin-bottom: 5px;
    min-height: 175px;
}

.con_box li .img-wrapper {
    width: 100%;
    height: 150px;
    margin-bottom: 3px;
}

.con_box li .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con_box li p {
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

.con_box h2 {
    margin-top: 90px;
}